---
---

@import "{{ site.theme }}";

.main-content p {
  direction: rtl;  /* Right to Left */
  /*text-align: right;*/
}

.main-content h2 {
  direction: rtl;  /* Right to Left */
  /*text-align: right;*/
}

.main-content h3 {
  direction: rtl;  /* Right to Left */
  /*text-align: right;*/
}
.main-content ul {
  direction: rtl;  /* Right to Left */
}

.main-content li {
  direction: rtl;  /* Right to Left */
}

